<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/air"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/air"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirView"
        tools:targetApi="31">
        <service android:name=".FetchDataService" android:exported="false" />
        <receiver android:name=".FetchDataAlarmReceiver" android:exported="false"/>
        <receiver android:name=".BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoSV8yZg8id0VGhUc5KxV2oHSEcMnkR7Q" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpEmbed"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChartActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dashboard"/>
        <activity
            android:name=".ResetPwdActivity"
            android:exported="false" />
        <activity
            android:name=".ResetEmbed"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>